<ion-view view-title="Contact">
    <ion-content class="im-wrapper">
      <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#CDDC39 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Ping Me</h3>
          
  </div>
</header>


 <div class="list ">

        <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/web1.jpg">
                    <h2><b>Mysite</b></h2>
                  <div class="item-text-wrap"> http://tinyurl.com/magesprofile</div>
                </a>
            <a  ui-sref="#" class="item item-avatar item-icon-right ">
                    
                    <img src="img/mail.jpg">
                    <h2><b>Email</b></h2>
                 <div class="item-text-wrap">  mageswari25051996@gmail.com</div>
                    
                </a>
				 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/fb.png">
                    <h2><b>Facebook</b></h2>
                 <div class="item-text-wrap">https://www.facebook.com/profile.php?id=100009357120167</div>
                </a>
               
                <!--<a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/go.png">
                    <h2><b>Google Plus</b></h2>
                    <div class="item-text-wrap">https://plus.google.com/u/0/100934650236066717624/posts</div>
                </a>-->
                 <a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/twitter.jpg">
                    <h2><b>Twitter</b></h2>
                 <div class="item-text-wrap"> https://twitter.com/MageswariSona</div>
                </a>
				<a  ui-sref="#"  class="item item-avatar item-icon-right ">
                    <img src="img/Linkedin.jpg">
                    <h2><b>Linkedin</b></h2>
                    <div class="item-text-wrap">https://in.linkedin.com/pub/m-mageswari-manoharan/bb/670/323</div>
                </a>
				<a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/word.png">
                    <h2><b>Wordpress</b></h2>
                 <div class="item-text-wrap">http://mageswarimanoharan.wordpress.com</div>
                </a>
				<a ui-sref="#" class="item item-avatar item-icon-right ">
                    <img src="img/git.png">
                    <h2><b>Github</b></h2>
                 <div class="item-text-wrap"> http://github.com/mmageswari</div>
                </a>
				
            </div>
<br><br>
    </ion-content>
</ion-view>
