<ion-view view-title="Projects">
    <ion-content>
        <div class="bar bar-subheader bar-stable static text-center">
           <font color="brown" ><b>Mobile & Web applications</b></font>
        </div>
        <br>
         <div class="w3-container w3-light-grey w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                      <img src="img/TIM.jpg">
                    <h2><b><font color="brown" >Traditional Indian Medicine</font></b></h2>
                     <p><font color="brown" >Hybrid Application</font></p>
                </a>
               <div class="im-wrapper" >
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It is an android application which will solve the problem when people are at home. Using this app prepare the remedy in our.We are redesign our Traditional Medicine method.IN our app we provide the remedy in the way of instructions and videos.
                <br>
                   
                </p>    
            </div>   
            </div>
        </div>
                <!-- <div class="w3-container w3-light-grey  w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                      <img src="img/smlogo.jpg">
                   <h2> <font color="brown" ><b>SaveMom</b></h2>
                     <p> <font color="brown" >Hybrid Application</p></font>
                </a>
                <div>
                    <p><b> <font color="black" >Savemom  application provides continuous checkup tracking, arrange free pick up to hospitals, food tips, yoga, create awareness about Govt. schemes.</p><p>Pregnant  ladies  can know information about their monthly check up timing, food habit, etc.</p><p> If  any pain occurs in maternity period, just by one call ambulance will be provided  for  the required ladies. </p><p>Because of these features abortions will be avoided & reduced.</b></p>
                </div>    
            </div>
        </div>

                 <div class="w3-container w3-center w3-light-grey w3-card-6 w3-margin-top" style="width:100%">
            <div class="list ">
                <a class="item item-thumbnail-left ">
                    <img src="img/lib.jpg">
                     <h2><b><font color="brown" >Library Management</font></b></h2>
                     <p><font color="brown" >Window Application</font></p>
                </a>
                <div >
                    <p><font color="black" ><b>This project “LIBRARY  MANAGEMENT SYSTEM” is mainly used for monitoring and controlling the transaction in a Library. </b></font></p>
                </div>    
            </div>
        </div>-->


        <br><br>
          </ion-content>
</ion-view>
