<ion-view view-title="Timeline">

     <ion-content class="has-header padding">
             <header class="w3-container  w3-padding" style="color:#fff !important;background-color:#CDDC39 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Now</h3>
        <h5 style="color:#FFF;">Co-Founder Of Phoenix</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/entre.jpg" alt="Elshaddai" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
  Totally 2 members are co-founders in our company.They are Me, Sharmila Devi. The Lead and Mentor of our company is Mr.Senthilkumar and Manimala.Our services are developing mobile applications and web applications.
 </b> </div>
</div>



 <header class="w3-container  w3-padding  w3-margin-top" style="color:#fff !important;background-color:#CDDC39 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">GDG Madurai</h3>
        <h5 style="color:#FFF;"> February 2015 - Present</h5>

   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/gdg.jpg" height="100" width="600" alt="GDG" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
Google Developers Group Madurai Community.
GDG Madurai is a community where programmers meet to discuss and work with several Google developer resources and products.I am one of the core member of this GDG Madurai Community.
 <br><br>gdgmadurai.in
 </b> </div>
</div>

 <header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#CDDC39 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">Metoomentor</h3>
    <h5 style="color:#FFF;">June 2012 - May 2015</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/mlogo.jpg" alt="Metoomentor" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
  Me2mentor platform work to create a technological awareness and help them to choose the right career path for young students in tier2 and tier 3 cities in India.<br>
                    We believe that more girls exposed to Research and entrepreneurship at a young age will lead to more women working in the technology and engineering fields.
                    <br><br>www.me2mentor.org
 </b> </div>
</div>

 <!--<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My College</h3>
        <h5 style="color:#FFF;"> June 2012 - May 2015</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/giri.jpg" alt="College" style="width:70%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


 I completed my B.Sc(Computer Science) degree in Madura College, Kamaraj University,Madurai.  </b> </div>
</div>-->

<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My College</h3>
        <h5 style="color:#FFF;"> June 2013 - May 2016</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/1.jpg" alt="College" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


 I m Studying B.Sc(Computer Science) degree in Madura College, Kamaraj University,Madurai.  </b> </div>
</div>


<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">   My Higher Secondary</h3>
        <h5 style="color:#FFF;"> June 2011 - May 2013</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/4.jpg" alt="HSS" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>
I Completed HSS in T.V.S Higher secondary school.I scored 90% in my 12th std.  </b> </div>
</div>


<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My High School</h3>
        <h5 style="color:#FFF;"> June 2009 - May 2011</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/3.jpg" alt="School" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


  I did my 10th std in T.V.S Higher secondary school,Madurai.I scored 93% in my 10th std.
  </b> </div>
</div>



<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  Middle school</h3>
        <h5 style="color:#FFF;"> 2009</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/2.jpg" alt="Middle School" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>

 I completed my Middle school studies in T.V.S Higher secondary school
  </b> </div>
</div>

<header class="w3-container  w3-padding w3-margin-top" style="color:#fff !important;background-color:#009688 !important" id="myHeader">
    <div class="w3-center">
    <h3 style="color:#FFF;">  My Life Starts</h3>
        <h5 style="color:#FFF;"> 1996</h5>
   
  </div>
</header>
        <div class="w3-container w3-center w3-white w3-card-2 " style="width:100%">
            <br>
  <img src="img/born1.jpg" alt="Born" style="width:100%" ></div> 
    
    <div class="w3-container  w3-white w3-card-2 " style="width:100%"><br><b>


I was born in Madurai. (25/05/1996)
  </b> </div>
</div>

<br><br>
    </ion-content>
</ion-view>
